.App {
  width: 60%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
li span {
  padding: 8px;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  margin:5px;
}
button, input[type="submit"]{
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}

li.high {
  border: 2px solid #f42c03;
  color: #f42c03;
  border-radius: 10px;
}
li.low {
  border: 2px solid #13f60b;
  border-radius: 10px;
}

li {
  border: 2px solid #0b88f6;
  border-radius: 10px;
}